.backToTopArrow {
  display: flex;
  opacity: 0;
  position: fixed;
  bottom: 1.8rem;
  right: 1.5rem;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  z-index: 1;
  padding: 3px;
  border-radius: 15%;
  line-height: 60%;
  transition: 0.3s;

  @media (min-width: 640px) {
    right: 20px;
    bottom: 2.1rem;
  }

  @media (min-width: 1200px) {
    right: 30px;
  }

  @media (min-width: 1440px) {
    right: 150px;
  }

  &__block {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: var(--thirdaryBgColor);

    &:hover {
      background-color: var(--iconsColor);
    }

    &:hover:active {
      background-color: var(--primeAccentColor);
    }
  }

  &__img {
    width: 16px;
    height: 16px;
    margin: 8px;
  }

  &.scrolling {
    opacity: 1;
    box-shadow: 1px 1px 26px rgba(241, 242, 249, 0.64);
  }
}
