.pageTitle {
  padding-top: 24px;

  &__header {
    font-size: 32px;
    font-style: normal;
    line-height: 41px;
    font-weight: 800;
    letter-spacing: -0.32px;
    background: linear-gradient(90deg, var(--primeTextColor) 0%, var(--primeAccentColor) 50%, var(--primeBgColor) 100%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }
}

@media (min-width: 640px) {
  .pageTitle {
    padding-top: 40px;

    &__header {
      font-size: 48px;
      line-height: 56px;
      letter-spacing: -0.48px;
    }
  }
}
