html {
  background-color: var(--primeBgColor);
}

.page {
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: var(--font-family);
  color: var(--primeTextColor);
  font-size: var(--font-size);
  font-weight: 600;
  line-height: 150%;
  text-align: left;

  // &:has(.page__sidebar:target) {
  //   overflow: hidden;
  // }

  &__body {
    padding: 25px 16px 64px;
    min-width: 320px;
    min-height: 48vh;

    @media (min-width: 640px) {
      padding-inline: 24px;
      min-height: 70vh;
    }

    @media (min-width: 1200px) {
      padding-inline: 32px;
      padding-bottom: 80px;
    }

    @media (min-width: 1440px) {
      padding-inline: 152px;
      max-width: 1440px;
      min-height: 80vh;
      margin-inline: auto;
    }
  }

  // &__sidebar {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   opacity: 0;
  //   transition: all 0.3s;
  //   transform: translateX(-100%);
  //   pointer-events: none;

  //   &:target {
  //     opacity: 1;
  //     transform: translateX(0);
  //     pointer-events: all;
  //   }
  // }
}
