.anime {
  margin: -198px 0 0 30px;
  width: 50%;
  max-height: 50%;
  position: absolute;
  opacity: 0.5;
  background-color: transparent;

  animation: fly 1s ease-in;

  &__img {
    max-width: 100%;
  }

  @keyframes fly{
    to {
      margin: 230px 35% 0;
      width: 10px;
      opacity: 0;
    }
  }
}

.hide {
  display: none;
}
