.card {
  padding: 32px;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: var(--secondaryBGColor);
  color: var(--primeTextColor);
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 700;
  transition: transform 0.3s ease-in;

  &:hover {
    transform: scale(1.02);
  }

  &__container {
    margin-bottom: 8px;
    height: 244px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid var(--elementsColor);

    @media(min-width: 480px) {
      height: 310px;
    }
  }

  &__img-container {
    margin-bottom: 24px;
  }

  &__img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 130px;
    display: block;
    border-radius: 15px;
    object-fit: cover;

    @media(min-width: 480px) {
      max-height: 196px;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
  }

  &__price {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 800;
    line-height: 140%;
  }

  &__previous {
    color: var(--secondaryTextColor);
    text-decoration: line-through;
    font-weight: 600;
  }

  &__info {
    display: flex;
    padding: 8px 0px;
    flex-direction: column;
    gap: 8px;
    align-self: stretch;
  }

  &__option {
    display: flex;
    justify-content: space-between;
  }

  &__parameter {
    color: var(--secondaryTextColor);
  }

  &__buttons {
    display: flex;
    gap: 8px;
  }
}
