.sliderSmall {
  margin-top: 56px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    gap: 50px;

    &_title {
      font-size: 22px;
      font-weight: 800;
      line-height: 140%;
    }
  }

  &__slider {
    min-width: 212px;
    z-index: 0;
  }
}

@media (min-width: 640px) {
  .sliderSmall {
    margin-top: 64px;

    &__title {
      font-size: 32px;
      line-height: 41px;
      letter-spacing: -0.32px;
    }

    &__slider {
      min-width: 237px;
    }
  }
}

@media (min-width: 1200px) {
  .sliderSmall {
    margin-top: 80px;
  }
}
