@font-face {
  font-family: 'Mont-Bold';
  src: url('../../assets/fonts/Mont-Bold.otf') format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: 'Mont';
  src: url('../../assets/fonts/Mont-Regular.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Mont-SemiBold';
  src: url('../../assets/fonts/Mont-SemiBold.otf') format('opentype');
  font-weight: 600;
}

:root {
  --font-family: 'Mont', sans-serif;
  --font-size: 14px;

  --desktopUW-min-width: 1200px;
  --desktop-min-width: 640px;
  --tablet-min-width: 320px;
}

:root[data-theme='dark'] {
  --primeTextColor: #f1f2f9;
  --secondaryTextColor: #75767f;

  --primeAccentColor: #905bff;
  --secondaryAccentColor: #a378ff;
  --selectedFavoriteColor: #eb5757;

  --primeBgColor: #0f1121;
  --secondaryBGColor: #161827;
  --thirdaryBgColor: #323542;
  --elementsColor: #3b3e4a;
  --iconsColor: #4a4d58;

  --phoneColor1: #fcdbc1;
  --phoneColor2: #5f7170;
  --phoneColor3: #4c4c4c;
  --phoneColor4: #f0f0f0;
}

:root[data-theme='light'] {
  --primeTextColor: #0f0f11;
  --secondaryTextColor: #89939a;

  --primeAccentColor: #905bff;
  --secondaryAccentColor: #a378ff;
  --selectedFavoriteColor: #eb5757;

  --primeBgColor: #fafbfc;
  --secondaryBGColor: #ffffff;
  --thirdaryBgColor: #ffffff;
  --elementsColor: #e2e6e9;
  --iconsColor: #b4bdc3;

  --phoneColor1: #fcdbc1;
  --phoneColor2: #5f7170;
  --phoneColor3: #4c4c4c;
  --phoneColor4: #f0f0f0;
}
