:root {
  --primeTextColor: #f1f2f9;
  --secondaryTextColor: #75767f;

  --primeAccentColor: #905bff;
  --secondaryAccentColor: #a378ff;
  --selectedFavoriteColor: #eb5757;

  --primeBgColor: #0f1121;
  --secondaryBGColor: #161827;
  --thirdaryBgColor: #323542;
  --elementsColor: #3b3e4a;
  --iconsColor: #4a4d58;

  --phoneColor1: #fcdbc1;
  --phoneColor2: #5f7170;
  --phoneColor3: #4c4c4c;
  --phoneColor4: #f0f0f0;

  --font-family: 'Mont', sans-serif;
  --font-size: 16px;

  --desktopUW-min-width: 1201px;
  --desktop-min-width: 641px;
  --tablet-min-width: 321px;
  --cell-max-width: 320px;
}
