.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--secondaryTextColor);

  &__left {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: flex;
    padding-block: 13px;
    margin-inline: 16px;

    @include hover(transform, scale(1.2));

    &-size {
      width: 64px;
      height: 22px;
    }
  }

  &__menu {
    display: none;
    justify-content: space-between;
    width: 329px;
    color: var(--secondaryTextColor);
    font-size: 12px;
    font-weight: 800;
    line-height: 11px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    margin-inline: 16px;
  }

  &__icons {
    display: flex;
    align-items: center;
  }

  &__icon {
    border-left: 1px solid var(--secondaryTextColor);
    padding: 16px;
  }

  &__bottom {
    padding-block: 24px;
  }

  &__title {
    font-size: 32px;
    line-height: 41px;
    font-weight: 800;
    letter-spacing: -0.32px;
  }
}

@media (min-width: 321px) {
  .header {
    &__menu {
      display: flex;
    }

    &__bottom {
      padding-block: 32px;
    }

    &__title {
      font-size: 48px;
      line-height: 56px;
    }
  }

}

@media (min-width: 641px) {
  .header {
    &__logo {
      padding-block: 18px;
      margin-inline: 24px;

      &-size {
        width: 80px;
        height: 28px;
      }
    }

    &__menu {
      width: 425px;
      margin-inline: 24px;
    }

    &__icon {
      padding: 24px;
    }

    &__bottom {
      padding-block: 56px;
    }
  }
}
