.location {
  display: flex;
  align-items: center;
  gap: 10px;

  &__icon-home-link {
    max-width: 16px;
    max-height: 16px;
  }

  &__icon-chevron {
    display: flex;
    justify-content: center;
    rotate: 90deg;
  }
}

.selected-page {
  &__paragraph {
    font-family: 'Mont-SemiBold';
    font-size: 12px;
    line-height: 15px;
    transition: 0.3s;

    color: var(--secondaryTextColor);
    cursor: pointer;

    &:hover {
      color: var(--primeTextColor);
    }
  }
}
