.footer {
  padding: 32px 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-top: 1px solid var(--elementsColor);
  background: var(--primeBgColor);

  font-family: var(--font-family);
  font-size: 12px;
  font-style: normal;

  @media (min-width: 640px) {
    padding-left: 32px;
    padding-right: 33%;
    flex-direction: row;
  }

  @media (min-width: 1200px) {
    padding-right: 35%;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

    &-img {
      transition: 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }

    @media (min-width: 640px) {
      align-items: flex-start;
      flex: 1 0 0;
    }
  }

  &__nav {
    @media (min-width: 640px) {
      align-items: center;
      flex: 1 0 0;
    }
  }

  &__scroll {
    display: flex;
    position: fixed;
    bottom: 1.2rem;
    right: 1.5rem;
    justify-content: center;
    align-items: center;
    align-self: stretch;

    @media (min-width: 640px) {
      right: 32px;
      bottom: 2.1rem;
    }
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  @media (min-width: 640px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    font-weight: 800;
    line-height: 11px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: var(--primeTextColor);
  }

}
.scroll {
  align-items: center;
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  &__block {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: var(--thirdaryBgColor);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.781);
    z-index: 100;
  }

  &__label {
    color: var(--secondaryTextColor);
    text-align: right;
    font-weight: 700;
    line-height: normal;
  }

  &__img {
    width: 16px;
    height: 16px;
    margin: 8px;
    color:var(--primeTextColor);
  }
}
