@import './../../../styles/utils/reset';
@import './../../../styles/utils/variables';

.button {
  width: 32px;
  height: 32px;
  color: var(--primeTextColor);
  font-family: var(--font-family);
  background-repeat: no-repeat;
  background-position: center;

  &__pagination {
    background-color: var(--secondaryBGColor);

    &:hover {
      background-color: var(--elementsColor);
    }
  }

  &__activePagination {
    background-color: var(--primeAccentColor);
  }

  &__slider {
    background-color: var(--thirdaryBgColor);

    &:hover {
      background-color: var(--iconsColor);
    }
  }

  &__disabledSlider{
    color: var(--iconsColor);
    background-color: var(--elementsColor);
    border: 1px solid var(--iconsColor);
  }

  &__color {
    border-radius: 50%;
    border: 2px solid var(--primeBgColor);
    outline: 1px solid var(--elementsColor);

    &:hover {
      outline: 1px solid var(--secondaryTextColor);
    }
  }

  &__beige {
    background-color: var(--phoneColor1);
  }

  &__green {
    background-color: var(--phoneColor2);
  }

  &__grey {
    background-color: var(--phoneColor3);
  }

  &__white {
    background-color: var(--phoneColor4);
  }

  &__activeColor{
    outline: 1px solid var(--primeTextColor);
  }

  &__favorite {
    width: 40px;
    height: 40px;
    background-color: var(--thirdaryBgColor);
    background-image: url(../../../assets/img/icons/favourites-default_icon.svg);
    &:hover {
      background-color: var(--iconsColor);
    }
  }

  &__activeFavorite {
    background-color: var(--elementsColor);
    border: 1px solid var(--elementsColor);
    background-image: url(../../../assets/img/icons/favourites-filled_icon.svg);
  }

  &__main {
    width: 100%;
    height: 40px;
    background-color: var(--primeAccentColor);
    &:hover {
      background-color: var(--secondaryAccentColor);
    }
  }

  &__activeMain{
    background-color: var(--thirdaryBgColor);
  }
}

.standard {
  &--up {
    background-image: url(../../../assets/img/icons/chevron-up_icon.svg);
  }

  &--down {
    background-image: url(../../../assets/img/icons/chevron-down_icon.svg);
  }

  &--left {
    background-image: url(../../../assets/img/icons/chevron-left_icon.svg);
  }

  &--right {
    background-image: url(../../../assets/img/icons/chevron-right_icon.svg);
  }
}

.disabled {
  &--up {
    background-image: url(../../../assets/img/icons/chevron-up-active_icon.svg);
  }

  &--down {
    background-image: url(../../../assets/img/icons/chevron-down-active_icon.svg);
  }

  &--left {
    background-image: url(../../../assets/img/icons/chevron-left-active_icon.svg);
  }

  &--right {
    background-image: url(../../../assets/img/icons/chevron-right-active_icon.svg);
  }
}
