.home {
  margin-top: -24px;

  @media (min-width: 640px) {
    margin-top: -32px;
  }

  @media (min-width: 1200px) {
    margin-top: -8px;
  }

  &__visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
  }

  &__sliderBig {
    display: flex;
    align-items: center;
    margin-top: 24px;

    @media(min-width: 640px) {
      margin-top: 32px;
      gap: 19px;
    }

    @media(min-width: 1200px) {
      margin-top: 56px;
      gap: 16px;
    }
  }

  .swiper-pagination {
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto !important;
    left: auto !important;
    margin: 0;
  }
  .swiper-pagination-bullet {
    padding: 5px 10px;
    border-radius: 0;
    width: auto;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color:#000;
    opacity: 1;
    background: rgba(0,0,0,0.2);
  }
  .swiper-pagination-bullet-active {
    color:#fff;
    background: #007aff;
  }

  &__subheader {
    margin: 56px 0 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media(min-width: 640px) {
      margin-top: 64px;
    }

    @media(min-width: 1200px) {
      margin-top: 80;
    }
  }

  &__subtitle {
    font-size: 22px;
    font-weight: 800;
    line-height: 140%;
  }

  &__newmodels-btn-container {
    margin-left: 22px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
  }

  &__categories {
    display: flex;
    flex-direction: column;
    gap: 32px;


    @media(min-width: 640px) {
      flex-direction: row;
      gap: 16px;
    }
  }

  &__item-img {
    margin-bottom: 24px;
    padding: 288px 288px 0 0;
    margin: auto;
  }

  &__item-title {
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
  }

  &__item-count {
    color: var(--secondaryTextColor);
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
  }
}

.phone-bg {
  background: #6d6474;
  background-image: url(../../assets/img/category-phone-bg.png);
  background-position: 8px 31px;
  background-size: 120%;
  background-repeat: no-repeat;
}
.tablet-bg {
  background-color: #9a9ba0;
  background-image: url(../../assets/img/category-tablets.png);
  background-position: 22px 21px;
  background-size: 145%;
  background-repeat: no-repeat;
}
.accessory-bg {
  background-color: #b74267;
  background-image: url(../../assets/img/accessory-bg.png);
  background-position: right bottom;
  background-size: 100%;
  background-repeat: no-repeat;
}
